In [3]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2-binary-2.9.10.tar.gz (385 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2-binary
  Building wheel for psycopg2-binary (setup.py) ... done
  Created wheel for psycopg2-binary: filename=psycopg2_binary-2.9.10-cp39-cp39-macosx_10_9_x86_64.whl size=133651 sha256=9418c4aea29ceeeddc9641877bda546f8a6f1f4dbd2090bd4bf102bc295226f3
  Stored in directory: /Users/harshini/Library/Caches/pip/wheels/21/37/ad/31e5057af2040bf5a29e23379b3013b60e9a66d14b041c0461
Successfully built psycopg2-binary
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [4]:
!pip install psycopg2 # To interact with postgresql

Requirement already satisfied: psycopg2 in /Users/harshini/opt/anaconda3/lib/python3.9/site-packages (2.9.9)

In [5]:
!pip install --upgrade psycopg2
!pip install --upgrade psycopg2-binary

Requirement already satisfied: psycopg2 in /Users/harshini/opt/anaconda3/lib/python3.9/site-packages (2.9.9)
Collecting psycopg2
  Using cached psycopg2-2.9.10.tar.gz (385 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp39-cp39-macosx_10_9_x86_64.whl size=133572 sha256=45a44efc43465f9cc9c15a28046383d455e7e84682d7b6bd7b88085e2fbba87b
  Stored in directory: /Users/harshini/Library/Caches/pip/wheels/c0/14/0e/752eec1f1382aff9f6d6105c47c8e9d964ae64c8073b0569a3
Successfully built psycopg2
Installing collected packages: psycopg2
  Attempting uninstall: psycopg2
    Found existing installation: psycopg2 2.9.9
    Uninstalling psycopg2-2.9.9:
      Successfully uninstalled psycopg2-2.9.9
Successfully installed psycopg2-2.9.10
Requirement already satisfied: psycopg2-binary in /Users/harshini/opt/anaconda3/lib/python3.9/site-packages (2.9.10)

In [6]:
import psycopg2
print(psycopg2.__version__)

2.9.9 (dt dec pq3 ext lo64)

**SQL alchemy engine bulk inserts into the tables instead of inserting using loops**

In [7]:
import pandas as pd
import psycopg2 
from sqlalchemy import create_engine

In [8]:
order_df = pd.read_csv('data/orders.csv')
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
aisles_df = pd.read_csv('data/aisles.csv')
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [10]:
departments_df = pd.read_csv('data/departments.csv')
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [114]:
order_products_df = pd.read_csv('data/order_products.csv').sample(10000)
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
26923457   2838943       21616                 15          1
32318923   3408915       32655                  1          1
4177057     440684        6348                 24          1
31447991   3316887       47766                  4          1
32186399   3394938         329                  3          1

In [12]:
products_df = pd.read_csv('data/products.csv')
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [13]:
order_products_df.shape

(32434489, 4)

In [79]:
#creating connection to postgres
try:
    conn = psycopg2.connect(dbname = "Ecommerce_analysis", user = 'postgres' , password = 'Harshini@22', port='5432')
except:
    print('connection was unsuccessful')

In [80]:
conn

In [81]:
#creating cursor 
#cursor is used to execute sql queries on sql engine

cur = conn.cursor()

In [106]:
from sqlalchemy import create_engine

#This is the url-encoding
#I have @ in my password, so instead of @ use %40
#The @ character becomes %40.
#The : character becomes %3A.

username = "postgres"
password = "Harshini%4022"
hostname = "localhost"  # Change if using a remote server
port = "5432"           # Default PostgreSQL port
database = "Ecommerce_analysis"

# Construct the connection string
connection_string = f"postgresql://{username}:{password}@{hostname}:{port}/{database}"

# Create the engine
engine = create_engine(connection_string)

In [107]:
engine

Engine(postgresql://postgres:***@localhost:5432/Ecommerce_analysis)

In [100]:
#creating engine for sqlalchemy
#engine = create_engine('postgresql+psycopg2://postgres:Harshini@22@localhost/Ecommerce_analysis')

In [101]:
#engine

Engine(postgresql+psycopg2://postgres:***@22@localhost/Ecommerce_analysis)

In [84]:
conn.rollback()

In [85]:
cur.execute("""
CREATE TABLE if not exists aisles(
    aisle_id integer primary key,
    aisle varchar(255)
)
""")

In [86]:
cur.execute("""
CREATE TABLE if not exists departments(
    department_id integer primary key,
    department varchar(255)
)
""")

In [87]:
cur.execute("""
CREATE TABLE if not exists products(
    product_id integer primary key,
    product_name varchar(255),
    aisle_id varchar(255),
    department_id varchar(255)
)
""")

In [88]:
cur.execute("""
DROP TABLE IF EXISTS products;
""")
conn.commit()

In [89]:
cur.execute("""
CREATE TABLE if not exists products(
    product_id integer primary key,
    product_name varchar(255),
    aisle_id integer,
    department_id integer,
    FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
)
""")

In [90]:
conn.commit()

In [91]:
cur.execute("""
CREATE TABLE if not exists orders(
    order_id integer primary key,
    user_id INTEGER,
    order_number integer,
    order_dow integer,
    order_hour_of_day integer,
    days_since_prior_order integer
)    
""")

In [92]:
conn.commit()

In [93]:
cur.execute("""
CREATE TABLE if not exists order_products(
    order_id integer,
    product_id INTEGER,
    add_to_cart_order integer,
    reordered integer,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
)    
""")

### **We must write conn.commit() to reflect changes in the database**

In [94]:
conn.commit()

In [95]:
order_df.drop('eval_set', inplace=True, axis=1)

In [108]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [109]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [110]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [112]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

83

In [115]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

1000

In [116]:
cur.close()

In [117]:
conn.close()